.profile__edit-button {
    background: none;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    top: 37px;
    transition: opacity 1s;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media (max-width:920px) {
    .profile__edit-button {
        right: -15px;
    }
}

@media (max-width: 445px) {
    .profile__edit-button {
        right: 15px;
        top: 28px;
    }
}